<h2 align="center">BOOK MY CAB</h2><div class="jumbotron text-center">
	<div class="container">
<div class="row">
  <div class="col-md-6">
           <div class="inline-top image w_300px padding-right-50px">
               <div class="vectored-iphone">
                   <input type="hidden" id="slider_id" value="mobile_iphone_android">
                   <div class="img-wrapper">
                       <div class="slider-bg-iphone">
                           <div class="gallery-wrapper">
                               <div id="mobile_iphone_android" class="slideshow-img text-center">
                                   <img style="" src="public/images/phone.png" />
                               </div>
                           </div>
                       </div>
                   </div>
                   <div id="toggleSlideGreen">
                       <div class="slideButton activeSlide" data-index="0"></div>
                       <div class="slideButton defaultSlide" data-index="1"></div>
                       <div class="slideButton defaultSlide" data-index="2"></div>
                       <div class="slideButton defaultSlide" data-index="3"></div>
                       <div class="slideButton defaultSlide" data-index="4"></div>
                       <div class="slideButton defaultSlide" data-index="5"></div>
                   </div>
               </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="inline-top text w_five_five_zero">
               <div class="iphoneText">
                   <div class="rightContText">
                       <div id="screen1">
                           <div class="boldText"> Pickup from anywhere. </div>
                           <div class="silverText"> Search or move pin to pickup location and tap <i>Ride now</i>. </div>
                       </div>
                       <div style="display: none;" id="screen2">
                           <div class="boldText"> Plan ahead. </div>
                           <div class="silverText"> Don't want a ride now? Schedule a pickup with <i>Ride later</i>.</div>
                       </div>
                       <div style="display: none;" id="screen3">
                           <div class="boldText"> Add your favourite place. </div>
                           <div class="silverText"> Tap a favourite to use it as your pickup location. </div>
                       </div>
                       <div style="display: none;" id="screen4">
                           <div class="boldText">  Spread the love. </div>
                           <div class="silverText"> Love the app? Invite friends and earn <i>Ola Money</i>. </div>
                       </div>
                       <div style="display: none;" id="screen5">
                           <div class="boldText">  No cash hassles. </div>
                           <div class="silverText"> Pay with Ola Money and ride in peace. </div>
                       </div>
                       <div style="display: none;" id="screen6">
                           <div class="boldText">  All rides in your pocket. </div>
                           <div class="silverText"> See upcoming or past rides, track rides and more. </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
         </div>

       </div>

</div>
